#Configuration info
[Project Info]
    Project = 19795

[OemCommonCapbility]
    ForceSensorFps = 0
    ArcsoftEisEnable = 1
    OemAddMaxFps = TRUE
    isPrimaryCommonSetting = TRUE
    isSkipAvoidGainForSupernight = FALSE

[OPPackageName Group]
    SystemCamera = com.oppo.camera; com.oplus.camera
    EngineerMode = com.oplus.engineercamera

###LogicalCameraConfiguration begin
[LogicalCameraConfiguration]
    NumOfLogicalCamera = 11
    LogicalCamera[0] = SingleWideCameraConfiguration
    LogicalCamera[1] = SingleFrontCameraConfiguration
    LogicalCamera[2] = SingleUltraWideCameraConfiguration
    LogicalCamera[3] = SingleTeleCameraConfiguration
    LogicalCamera[4] = SingleMonoCameraConfiguration
    LogicalCamera[5] = SingleFrontUltraWideCameraConfiguration
    LogicalCamera[6] = RTBUWWCameraConfiguration
    LogicalCamera[7] = RTBTWCameraConfiguration
    LogicalCamera[8] = SATCameraConfiguration
    LogicalCamera[9] = RTBFUWFWCameraConfiguration
    LogicalCamera[10] = RTBM1WCameraConfiguration

[SingleWideCameraConfiguration]
    logicalCameraId    = 0
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleWideCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 0

[SupportedImageSizesGSI]
#                    width  height
    ImageSizes[0]  =  4608; 3456
    ImageSizes[1]  =  4000; 3008
    ImageSizes[2]  =  4000; 3000
    ImageSizes[3]  =  3840; 2160
    ImageSizes[4]  =  3280; 2464
    ImageSizes[5]  =  3264; 2448
    ImageSizes[6]  =  3000; 3000
    ImageSizes[7]  =  3008; 3008
    ImageSizes[8]  =  2880; 2160
    ImageSizes[9]  =  2592; 1944
    ImageSizes[10] =  2328; 1748
    ImageSizes[11] =  2304; 1152
    ImageSizes[12] =  2160; 1080
    ImageSizes[13] =  1920; 1080
    ImageSizes[14] =  1600; 1200
    ImageSizes[15] =  1440; 1080
    ImageSizes[16] =  1280; 960
    ImageSizes[17] =  1280; 720
    ImageSizes[18] =  1080; 1080
    ImageSizes[19] =   720; 480
    ImageSizes[20] =   640; 640
    ImageSizes[21] =   640; 480
    ImageSizes[22] =   352; 288
    ImageSizes[23] =   320; 240
    ImageSizes[24] =   176; 144

[SingleWideCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontCameraConfiguration]
    logicalCameraId    = 1
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 1

[SingleFrontCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleUltraWideCameraConfiguration]
    logicalCameraId    = 2
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleUltraWideCameraDeviceInfo
    primarySensorID    = 1
    cameraType         = 2

[SingleUltraWideCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleTeleCameraConfiguration]
    logicalCameraId    = 3
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleTeleCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 6

[SmoothZoom]
    enableSmoothZoom   = true

[SingleTeleCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleMonoCameraConfiguration]
    logicalCameraId    = 4
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleMonoCameraDeviceInfo
    primarySensorID    = 4
    cameraType         = 14

[SingleMonoCameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SingleFrontUltraWideCameraConfiguration]
    logicalCameraId    = 5
    logicalCameraType  = 0
    publicVisibility   = true
    numOfDevices       = 1
    deviceInfo[0]      = SingleFrontUltraWideCameraDeviceInfo
    primarySensorID    = 5
    cameraType         = 3

[SingleFrontUltraWideCameraDeviceInfo]
    sensorId               = 5
    transitionZoomRatioMin = 0.0
    transitionZoomRatioMax = 0.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBUWWCameraConfiguration]
    logicalCameraId    = 6
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBUWCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 8

[RTBUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBTWCameraConfiguration]
    logicalCameraId    = 7
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBWCameraDeviceInfo1
    deviceInfo[1]      = RTBTCameraDeviceInfo
    primarySensorID    = 3
    cameraType         = 11

[RTBTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBWCameraDeviceInfo1]
    sensorId               = 0
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SATCameraConfiguration]
    logicalCameraId    = 8
    logicalCameraType  = 2
    publicVisibility   = true
    numOfDevices       = 3
    deviceInfo[0]      = SATUWCameraDeviceInfo
    deviceInfo[1]      = SATWCameraDeviceInfo
    deviceInfo[2]      = SATTCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 12

[SATUWCameraDeviceInfo]
    sensorId               = 1
    transitionZoomRatioMin = 0.6
    transitionZoomRatioMax = 1.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATWCameraDeviceInfo]
    sensorId               = 0
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[SATTCameraDeviceInfo]
    sensorId               = 3
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 20.0
    enableSmoothTransition = true
    alwaysOn               = false
    realtimeEngine         = 0

[RTBFUWFWCameraConfiguration]
    logicalCameraId    = 9
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBFUWCameraDeviceInfo
    deviceInfo[1]      = RTBFWCameraDeviceInfo
    primarySensorID    = 2
    cameraType         = 10

[RTBFUWCameraDeviceInfo]
    sensorId               = 5
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBFWCameraDeviceInfo]
    sensorId               = 2
    transitionZoomRatioMin = 2.0
    transitionZoomRatioMax = 8.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[RTBM1WCameraConfiguration]
    logicalCameraId    = 10
    logicalCameraType  = 1
    publicVisibility   = true
    numOfDevices       = 2
    deviceInfo[0]      = RTBM1WCameraDeviceInfo
    deviceInfo[1]      = RTBWCameraDeviceInfo
    primarySensorID    = 0
    cameraType         = 15

[RTBM1WCameraDeviceInfo]
    sensorId               = 4
    transitionZoomRatioMin = 1.0
    transitionZoomRatioMax = 2.0
    enableSmoothTransition = false
    alwaysOn               = true
    realtimeEngine         = 0

[SATVideoRecordConfig]
    MasterIdToSensorMask = 1

###LogicalCameraConfiguration end

[MultiCameraUsecase]
    IgnoreZoomRatioForQuickSnapshot = TRUE

[MultiCameraMFNRFusionSuperGraph]
    #ChiFeature2Type    HDR  DEMUX  SERIALIZER MFSR   IPE
    Operation[0x8001] = 5;    23;    24;       9;     3
    Common            = 5;    23;    24;       9;     3

[MultiCameraMFNRBokehSuperGraph]
    #ChiFeature2Type    HDR  DEMUX  SERIALIZER MFSR   IPE
    Operation[0x8001] = 5;    23;    24;       9;     3
    Common            = 5;    23;    24;       9;     3

[SATNode]
    #CameraZoomInfo             UW+w     W      W+t     w+T      T
    SpecialZoomValueList  = 0.6;    1.0;    1.5;    2.0;    2.5;   20.0
    CameraActiveMapList   =      3;      2;      6;      4;      4
    MasterCameraIndexList =      0;      1;      1;      2;      2
    #CameraCalibBin
    CalibBin = 1; 2; 1
    DCDataType = arcsoft
    WMCaliSize = 2048
    WTCaliSize = 2048
    WMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/rmwStereoParams.bin
    WTDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/rmtStereoParams.bin
    ASWMDualCaliPath = /mnt/vendor/persist/camera/dual_calibration/rmwStereoParams.bin
    ASWTDualCaliPath = /mnt/vendor/persist/camera/dual_calibration/rmtStereoParams.bin
    BKWMDualCaliPath = /odm/etc/camera/mwStereoParams.bin
    BKWTDualCaliPath = /odm/etc/camera/mtStereoParams.bin

    #ui ratio         0.6x   1x    2x    5x      10x
    ButtonRatioList = 0.6;  1.0;  2.0;  5.008;  10.0

[EISNode]
    isOisSupported   = 0
    #EISTuningSensorMode   cameraId  captureMode   sensorMode
    EISTuningIndex   =       0;        0x8028;         7;         2;0x8028;1;   5;0x802B;1;    2;0x800b;0

[UsecaseMatching]
    #ExtentVideoStream     usage     dataspace     streamformat   bufferformat
    ExtentVideoStream =   0x83;     0x8c20000;      0x23;         3
    SuperEISUseNormal =     1
    DisablePreviewNode = 0x8021; 0x800B

[EISTypeMatching]
    #VideoEisMode    captureMode  sensor_mask
    Mode[0]      =     0x800B;      0x0127       #COMMON VIDEO + SAT
    Mode[1]      =     0x800C;      0x0125       #FAST VIDEO
    Mode[2]      =     0x8021;      0xFFFF       #60FPS VIDEO
    Mode[3]      =     0x8028;      0x0005       #SUPER EIS
    Mode[4]      =     0x802B;      0xFFFF       #FRONT EIS VIDE
    Mode[5]      =     0x802C;      0x0001       #DualScene VIDEO
    Mode[6]      =     0x8031;      0x0020       #UNKNOWN
    Mode[7]      =     0x80A1;      0xFFFF       #HDR VIDEO
    Mode[8]      =     0x80A2;      0xFFFF       #NIHGT VIDEO
    Mode[9]      =     0x80A4;      0xFFFF       #MOVIE EIS
    Mode[10]     =     0x80A7;      0x0001       #EnhanceVideo REAR EIS

[LaserFlicker]
    IsLaserFlickerSupported = FALSE

[SecureCamera]
    #exportSecureCamera     TRUE FLASE
    exportSecureCameraFlag = TRUE

[OemCamxSettings]
    #Enable/Disable HW Sync for RTB
    multiCameraHWSyncMask = 0
    #Enable/Disable Multi Camera framework kernel frame sync
    multiCameraFrameSync  = 0
    #Enable/Disable 3A Exif Debug Data
    enable3ADebugData     = FALSE

[Feature2GraphCameraIdMap]
    SingleCameraList = 0; 1; 2; 3; 4; 5
    MultiCameraList  = 6; 7; 8; 9; 10
    BokehCameraList  = 6; 7; 9; 10
    FusionCameraList = 8

[QuickSnapshotMatching]
    #logicalCameraId           FRONT
    QuickSnapshotCameraIdList = 1
    IgnoreZoomValue           = TRUE
    QCFAQuickShutterFront     = TRUE

[SensorQCFAModeAcquireIntervalUs]
    s5kgw1 = 55000
    imx616 = 55000

[OemCamSensorSettingMap]
    #operation mode     operation_mode     sensor_mask        feature_mask      index
    Mode[0]         =     0x8001;            0x0001;            0x0004;           2  #COMMON SAT REAR
    Mode[1]         =     0x8001;            0x0004;            0x0004;           0  #COMMON SAT REAR_AUX
    Mode[2]         =     0x800B;            0x0001;            0x000C;           4  #COMMON VIDEO SAT REAR
    Mode[3]         =     0x800B;            0x0004;            0x000C;           0  #COMMON VIDEO SAT REAR_AUX
    Mode[4]         =     0x8010;            0x0001;            0x0000;           1  #HALF PORTRAIT REAR
    Mode[5]         =     0x8011;            0x0001;            0x0000;           1  #FULL PORTRAIT REAR
    Mode[6]         =     0x8011;            0x0004;            0x0000;           2  #FULL PORTRAIT REAR_AUX
    Mode[7]         =     0x8009;            0x0001;            0x0000;           2  #Professional REAR
    Mode[8]         =     0x8009;            0x0004;            0x0000;           0  #Professional REAR_AUX
    Mode[9]         =     0x8007;            0x0001;            0x0000;           2  #Panorama REAR
    Mode[10]        =     0x8019;            0x0001;            0x0004;           2  #SN SAT REAR
    Mode[11]        =     0x8019;            0x0004;            0x0004;           0  #SN SAT REAR_AUX
    Mode[12]        =     0x8028;            0x0004;            0x0000;           3  #SUPER EIS REAR_AUX
    Mode[13]        =     0x8028;            0x0001;            0x0000;           3  #SUPER EIS REAR
    Mode[14]        =     0x800C;            0x0001;            0x000C;           4  #FastVideo EIS SAT REAR
    Mode[15]        =     0x800C;            0x0004;            0x000C;           0  #FastVideo EIS SAT REAR_AUX
    Mode[16]        =     0x8011;            0x0002;            0x0000;           1  #FULL PORTRAIT FRONT
    Mode[17]        =     0x8011;            0x0020;            0x0000;           2  #FULL PORTRAIT FRONT_AUX
    Mode[18]        =     0x800B;            0x0020;            0x0000;           0  #COMMON VIDEO FRONT_AUX
    Mode[19]        =     0x800B;            0x0004;            0x0008;           0  #COMMON VIDEO BOKEH REAR_AUX
    Mode[20]        =     0x8010;            0x0001;            0x0040;           7  #HALF PORTRAIT MONO MODE REAR
    Mode[21]        =     0x80A6;            0x0004;            0x0000;           3  #SUPER MACRO

[ThirdAppCamRatioSensorSettingMap]
    #                                  setting index
    SENSOR_SIZE_16_9_30FPS             =   1

[ThirdAppCamSensorSettingMap]
    #                                   camera id  FPS    width    height  operation mode  setting index
    android.camera.cts[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.android.cts.verifier[0]        =    1;     -1;    -1;      -1;         -1;            1
    com.ss.android.ugc.aweme[0]        =    0;     30;    -1;      -1;         -1;            3
    com.android.app.appops.cts[0]      =   -1;     -1;    -1;      -1;         -1;            1
    com.tencent.mobileqq[0]            =    1;     15;    -1;      -1;         -1;            1
    com.tencent.mobileqq[1]            =    0;     -1;    -1;      -1;         -1;            1
    tv.danmaku.bili[0]                 =   -1;     -1;    -1;      -1;         -1;            1
    com.qiyi.video.lite[0]             =   -1;     -1;    -1;      -1;         -1;            1
    com.xunlei.downloadprovider[0]     =   -1;     -1;    -1;      -1;         -1;            1
    com.wifi.key[0]                    =   -1;     -1;    -1;      -1;         -1;            1
    com.achievo.vipshop[0]             =   -1;     -1;    -1;      -1;         -1;            1
    com.kugou.fanxing[0]               =   -1;     -1;    -1;      -1;         -1;            1
    com.chinamobile.mcloud[0]          =   -1;     -1;    -1;      -1;         -1;            1
    com.linewell.citizencloud.nanping[0]=  -1;     -1;    -1;      -1;         -1;            1
    air.tv.douyu.android[0]            =   -1;     -1;    -1;      -1;         -1;            1
    com.qq.reader[0]                   =   -1;     -1;    -1;      -1;         -1;            1
    com.dewmobile.kuaiya[0]            =   -1;     -1;    -1;      -1;         -1;            1
    ctrip.android.view[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.qiyi.video[0]                  =   -1;     -1;    -1;      -1;         -1;            1
    com.tencent.mm[0]                  =   -1;     -1;    -1;      -1;         -1;            1
    com.google.android.youtube[0]      =   -1;     -1;    -1;      -1;         -1;            1
    net.sourceforge.opencamera[0]      =   -1;     -1;    -1;      -1;         -1;            1
    com.wapi.wapicertmanage[0]         =   -1;     -1;    -1;      -1;         -1;            1
    com.beauty.camera.youcam.makeup.photo.editor.plus[0]=   -1;     -1;    -1;      -1;         -1;            1
    com.meitu.beautyplusme[0]          =   -1;     -1;    -1;      -1;         -1;            1
    net.sourceforge.opencamera[0]      =   -1;     -1;    -1;      -1;         -1;            1
    com.snowcorp.soda.android[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.linecorp.foodcam.android[0]    =   -1;     -1;    -1;      -1;         -1;            1
    com.linecorp.b612.android[0]       =   -1;     -1;    -1;      -1;         -1;            1
    com.campmobile.snow[0]             =   -1;     -1;    -1;      -1;         -1;            1
    cn.wps.moffice_eng[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.jingdong.app.mall[0]           =   -1;     -1;    -1;      -1;         -1;            1
    com.zing.zalo[0]                   =   -1;     -1;    -1;      -1;         -1;            1
    com.viber.voip[0]                  =   -1;     -1;    -1;      -1;         -1;            1
    org.telegram.messenger[0]          =   -1;     -1;    -1;      -1;         -1;            1
    com.duowan.mobile[0]               =   -1;     -1;    -1;      -1;         -1;            1
    com.tmall.wireless[0]              =   -1;     -1;    -1;      -1;         -1;            1
    com.kugou.android[0]               =   -1;     -1;    -1;      -1;         -1;            1
    com.xpx365.projphoto[0]            =   -1;     -1;    -1;      -1;         -1;            1
    com.iqiyi.i18n[0]                  =    0;     -1;    -1;      -1;         -1;            1
    com.mt.mtxx.mtxx[0]                =    0;     -1;    -1;      -1;         -1;            1
    com.smile.gifmaker[0]              =    0;     -1;    -1;      -1;         -1;            1
    com.meitu.meiyancamera[0]          =    0;     -1;    -1;      -1;         -1;            1
    com.whatsapp[0]                    =    0;     -1;    -1;      -1;         -1;            2
    com.facebook.katana[0]             =    0;     -1;    -1;      -1;         -1;            2
    com.facebook.orca[0]               =    0;     -1;    -1;      -1;         -1;            2
    com.instagram.android[0]           =    0;     -1;    -1;      -1;         -1;            2
    com.snapchat.android[0]            =    0;     -1;    -1;      -1;         -1;            2
    com.pingan.paces.ccms[0]           =   -1;     -1;    -1;      -1;         -1;            1
    com.alicloud.databox[0]            =    0;     -1;    -1;      -1;         -1;            1

[SetFwkRDIStream]
    isNeeded = false

[EngCamSensorSettingMap]
    #                  operation_mode   sensor_mask   feature_mask   index
    Mode[0]        =      0x0;            0xFFFF;        0x0000;       0;
    Mode[1]        =      0x0;            0x0001;        0x0000;       2;
    Mode[2]        =      0x0;            0x0002;        0x0000;       1;
    Mode[3]        =      0x0;            0x0001;        0x0010;       1;

[QuickShutterFrameCount]
    EarlyFrameCount = 2

[CtsCamSensorSettingMap]
    #                  cts_mode         sensor_mask   index
    Mode[0]        =    0x0001;            0x0001;       1;

[EngineercameraConfig]
    # The size of this list should equal to m_numLogicalCameras
    engineercamera.jpeg.size.QCFA = 1; 0; 1; 1; 1; 1; 1; 1; 1; 1;
    custom.raw.size.QCFA          = 1; 1; 1; 1; 1; 1; 1; 1; 1; 1;

[MemGroupConfig]
    EnableIonRecycle = 1;    # IonRecycle 0:disable(def)  1:enable
    RecycleBuffSize  = 4;    # IonRecyclebuffer size(N * 10M)

[AFCapbility]
   IsDepthBasedFocus = 1;
   disableAFRoleSwitch = 1;
   forceMasterCameraId = 0;

###BokehConfigureInformation begin
[BokehConfigureInformation]
    RearBokehImgSizeList           = 4608; 3456; 2304; 1728
    RearSecondBokehImgSizeList     = 4000; 3000; 4608; 3456
    FrontBokehImgSizeList          = 3280; 2464; 2304; 1728
    RearMonoBokehImgSizeList       = 4608; 3456; 1600; 1200
    RWMCaliSize = 2048
    RWTCaliSize = 2048
    FWMCaliSize = 2048
    RWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/rmwStereoParams.bin
    RWTDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/rmtStereoParams.bin
    FWMDualCaliPath   = /mnt/vendor/persist/camera/dual_calibration/fmwStereoParams.bin
    RWMDualCaliPathAS = /mnt/vendor/persist/camera/dual_calibration/rmwStereoParams.bin
    RWTDualCaliPathAS = /mnt/vendor/persist/camera/dual_calibration/rmtStereoParams.bin
    FWMDualCaliPathAS = /mnt/vendor/persist/camera/dual_calibration/fmwStereoParams.bin
    BkWMDualCaliPath  = /odm/etc/camera/mwStereoParams.bin
    BkWTDualCaliPath  = /odm/etc/camera/mtStereoParams.bin
    BkFMWDualCaliPath = /odm/etc/camera/fmwStereoParams.bin
###BokehConfigureInformation end

[OemCamActuatorSettingMap]
    #operation mode     is_need_power      first_value        second_value      third_vaue  if is_need_power is 0 set other variables to 0
        Mode[0]      =     0;                 0;                 0;                0        #VCM lowerBound
        Mode[1]      =     1;                 1;                 0;                -1       #VCM upperBound
        Mode[2]      =     0;                 0;                 0;                0        #BIVCM lowerBound
        Mode[3]      =     1;                 1;                 0;                -1       #BIVCM upperBound

[ExtentSensorClks]
    #ExtentClksFlag     TRUE FALSE
    ExtentClksFlag = TRUE

[SuperNightMode_Hand]
    #SuperNightMode_Hand need ideal raw
    SATPhotoEnable = TRUE
    idealRawEnable = TRUE
    DisableResetCropInfoForCameraId = 2

[SensorAggregationsForSATPhotoMode]
    numSensorAggregations   = 9
    zoomRange               =  0.6; 1.0;    0.6; 1.0;    1.0; 2.0;    1.0; 2.0;    1.0; 2.0;    1.4; 2.0;    2.0; 10.1;    2.0; 10.1;    2.0; 10.1
    activeMap               =      1;           3;           2;           3;           3;           6;           4;            6;            6
    allowAFFallback         =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;        FALSE;        FALSE
    allowLuxFallback        =    FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       FALSE;       TRUE;         TRUE;         TRUE
    fallbacked              =    FALSE;       FALSE;       FALSE;       FALSE;       TRUE;        FALSE;       FALSE;        FALSE;        TRUE
    master                  =      0;           0;           1;           1;           0;           1;           2;            2;            1
    recommendedMaster       =      0;           0;           1;           0;           0;           1;           2;            1;            1
    recommendedActiveState  =      1;           3;           3;           3;           3;           3;           6;            6;            6

[sensorAggregationsForSATNightMode]
    numSensorAggregations   = 3
    zoomRange               =  2.0; 10.1;   2.0; 10.1;   2.0; 10.1
    activeMap               =      4;           6;           6
    allowAFFallback         =    TRUE;        TRUE;        TRUE
    allowTOFFallback        =    FALSE;       FALSE;       FALSE
    allowLuxFallback        =    TRUE;        TRUE;        TRUE
    fallbacked              =    FALSE;       FALSE;       TRUE
    master                  =      2;           2;           1
    recommendedMaster       =      2;           1;           1
    recommendedActiveState  =      6;           6;           6

[sensorAggregationsForSATVideoMode]
    numSensorAggregations   = 1
    zoomRange               =   2.0; 10.1
    activeMap               =      4
    allowAFFallback         =    FALSE
    allowTOFFallback        =    FALSE
    allowLuxFallback        =    FALSE
    fallbacked              =    FALSE
    master                  =      2
    recommendedMaster       =      2
    recommendedActiveState  =      6

[fallbackDetectThreshs]
    #luxFallback                   FallbackTriggerUpperThreshHold   FallbackTriggerLowerThreshHold   lowLightUpperThresh    lowLightLowerThresh
    luxThreshsForSATMode       =             420;                              390;                        505;                    485
    luxThreshsForSATNightMode  =             400;                              370;                        500;                    480
    luxThreshsForSATVideoMode  =             420;                              390;                        500;                    480
    #afFallback                    DetectFactor   RecoverFactor   MoveSceneWideDetectFactor   MoveSceneWideRecoverFactor   MoveSceneTeleDetectFactor   MoveSceneTelekRecoverFactor
    afThreshsForSATMode        =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATNightMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0
    afThreshsForSATVideoMode   =       1.0;           1.1;                  1.0;                       1.5;                         0.5;                        2.0

[AECCapbility]
    #OemCamAECControlVendorID  0:OPPO, 1:realme
    OemCamAECControlVendorID = 1
    #OemLightIntensityAssitAEC  enable   samplingRate   reportRate
    OemLightIntensityAssitAEC =   0;         104;          10000

[PinFiles]
    so[0]=/vendor/lib64/libOpenCL.so;
    so[1]=/vendor/lib64/libgsl.so;
    so[2]=/vendor/lib64/libCB.so;
    so[3]=/vendor/lib64/libipebpsstriping.so;
    so[4]=/vendor/lib64/com.qti.feature2.gs.so;
    so[5]=/vendor/lib64/com.qti.feature2.anchorsync.so;
    so[6]=/vendor/lib64/com.qti.feature2.demux.so;
    so[7]=/vendor/lib64/com.qti.feature2.frameselect.so;
    so[8]=/vendor/lib64/com.qti.feature2.fusion.so;
    so[9]=/vendor/lib64/com.qti.feature2.generic.so;
    so[10]=/vendor/lib64/com.qti.feature2.hdr.so;
    so[11]=/vendor/lib64/com.qti.feature2.memcpy.so;
    so[12]=/vendor/lib64/com.qti.feature2.mfsr.so;
    so[13]=/vendor/lib64/com.qti.feature2.qcfa.so;
    so[14]=/vendor/lib64/com.qti.feature2.rawhdr.so;
    so[15]=/vendor/lib64/com.qti.feature2.rt.so;
    so[16]=/vendor/lib64/com.qti.feature2.serializer.so;
    so[17]=/vendor/lib64/com.qti.feature2.stub.so;
    so[18]=/vendor/lib64/com.qti.feature2.swmf.so;
    so[29]=/vendor/lib64/libcamxexternalformatutils.so;
    so[20]=/vendor/lib64/camera/components/com.qti.stats.pdlib.so;
    so[21]=/vendor/lib64/camera/components/com.qti.stats.hafoverrdide.so;
    so[22]=/vendor/lib64/libcamxtintlessalgo.so;
    so[23]=/vendor/lib64/libcamxswprocessalgo.so;
    so[24]=/vendor/lib64/libthermalclient.so;
    so[25]=/odm/lib64/libarc_sateis.so;
    so[26]=/odm/lib64/libcvface_api.so;
    so[27]=/odm/lib64/libtriplecam_video_optical_zoom.so;

[SmartPoolMatching]
    #Mode            captureMode  sensor_mask
    Mode[0]      =     0x8001;      0xFFFF       #COMMON MODE
    Mode[1]      =     0x800B;      0xFFFF       #COMMON VIDEO MODE
    Mode[2]      =     0x800C;      0xFFFF       #FAST VIDEO MODE
    Mode[3]      =     0x800D;      0xFFFF       #SLOW VIDEO MODE
    Mode[4]      =     0x8021;      0xFFFF       #60FPS VIDEO MODE

[OemPDAFCalib]
    isOemPDAFCalib = FALSE

[OemFpsRangeSettingMap]
    #                     fps_head     fps_tail
    OemFpsRange[0] =         7 ;          30 ;
    OemFpsRange[1] =        15 ;          15;
    OemFpsRange[2] =        15 ;          20;
    OemFpsRange[3] =        20 ;          20;
    OemFpsRange[4] =        30 ;          30;

[OemSupportedCustomImageSizes]
    #                width height
    ImageSizes[0]  = 8000; 3632
    ImageSizes[1]  = 6560; 4928
    ImageSizes[2]  = 6560; 3692
    ImageSizes[3]  = 6560; 2976
    ImageSizes[4]  = 6560; 2960
    ImageSizes[5]  = 6560; 3692
    ImageSizes[6]  = 4928; 4928
    ImageSizes[7]  = 4624; 3468
    ImageSizes[8]  = 4208; 1920
    ImageSizes[9]  = 4608; 3456
    ImageSizes[10] = 4624; 2600
    ImageSizes[11] = 4608; 2592
    ImageSizes[12] = 4608; 2080

[SupportedImageSizes]
#                    width  height
    ImageSizes[0]   =   8000;   6000
    ImageSizes[1]   =   8000;   3600
    ImageSizes[2]   =   7680;   4320
    ImageSizes[3]   =   6000;   6000
    ImageSizes[4]   =   4608;   3456
    ImageSizes[5]   =   4608;   2592
    ImageSizes[6]   =   4608;   2080
    ImageSizes[7]   =   4160;   1890
    ImageSizes[8]   =   4160;   1872
    ImageSizes[9]  =    4000;   3000
    ImageSizes[10]  =   4000;   2250
    ImageSizes[11]  =   4000;   1818
    ImageSizes[12]  =   4000;   1800
    ImageSizes[13]  =   3840;   2160
    ImageSizes[14]  =   3840;   1644
    ImageSizes[15]  =   3456;   3456
    ImageSizes[16]  =   3456;   2592
    ImageSizes[17]  =   3264;   2448
    ImageSizes[18]  =   3264;   1836
    ImageSizes[19]  =   3200;   2400
    ImageSizes[20]  =   3200;   1440
    ImageSizes[21]  =   3168;   1440
    ImageSizes[22]  =   3168;   1358
    ImageSizes[23]  =   3120;   3120
    ImageSizes[24]  =   3000;   3000
    ImageSizes[25]  =   2592;   1944
    ImageSizes[26]  =   2448;   2448
    ImageSizes[27]  =   2400;   1080
    ImageSizes[28]  =   2328;   1746
    ImageSizes[29]  =   2328;   1748
    ImageSizes[30]  =   2376;   1080
    ImageSizes[31]  =   2304;   1728
    ImageSizes[32]  =   2304;   1296
    ImageSizes[33]  =   2304;   1046
    ImageSizes[34]  =   2160;   1080
    ImageSizes[35]  =   1944;   1944
    ImageSizes[36]  =   1920;   1440
    ImageSizes[37]  =   1920;   1080
    ImageSizes[38]  =   1920;   864
    ImageSizes[39]  =   1600;   1200
    ImageSizes[40]  =   1600;   800
    ImageSizes[41]  =   1600;   720
    ImageSizes[42]  =   1584;   720
    ImageSizes[43]  =   1440;   1080
    ImageSizes[44]  =   1280;   960
    ImageSizes[45]  =   1280;   768
    ImageSizes[46]  =   1024;   768
    ImageSizes[47]  =   1280;   720
    ImageSizes[48]  =   1200;   1200
    ImageSizes[49]  =   1188;   540
    ImageSizes[50]  =   1200;   540
    ImageSizes[51]  =   1080;   1080
    ImageSizes[52]  =   800;    400
    ImageSizes[53]  =   792;    360
    ImageSizes[54]  =   720;    540
    ImageSizes[55]  =   720;    480
    ImageSizes[56]  =   640;    640
    ImageSizes[57]  =   640;    480
    ImageSizes[58]  =   352;    288
    ImageSizes[59]  =   320;    240
    ImageSizes[60]  =   176;    144

[IPENode]
    #                         left  top  width  heith
    CropWindowForSuperPhoto =  0;    0;   9216;  6912
    # DisableResetCropInfoForNightMode: TRIPOD(1), HAND(2 3 4), DARKSIGHT(5), FRONTNIGHT(6)
    DisableResetCropInfoForNightMode = 2; 3; 4; 5; 6

[OemFDAttrEnableMap]
    #                  operation_mode   sensor_mask
    Mode[0]        =      0x8001;            0xFFFF;
    Mode[1]        =      0x800E;            0xFFFF;
    Mode[2]        =      0x800B;            0xFFFF;
    Mode[3]        =      0x8019;            0x0002;
    Mode[4]        =      0x8019;            0x0020;
    Mode[5]        =      0x8011;            0x0002;

[ArcsoftAfterSaleCalibration]
    useBackUpCalibrationData = TRUE
    binCount                 = 3

[SupportSkipFd]
    #VideoMode      captureMode         skip_count    bindcore
    Mode[0]      =     0x800B;              3;         0        #COMMON VIDEO + SAT
    Mode[1]      =     0x802C;              3;         0        #Dual VIDEO
    Mode[2]      =     0x8001;              3;         1        #COMMON
    Mode[3]      =     0x8011;              3;         1        #REAR PORTRAIT

[StabilityDebug]
    isNeedWatchTimeoutEnable = TRUE
    #Trigger SOF WatchDog Timeout Threshold       operation_mode  is_realtime_pipeline   threshold
    watchDogTimeoutThreshold[0]               =       0x8011;              1;                 2           #10bit

[Support4KSkipfd]
    is4KNoNeedFD = FALSE

[SupportModifyFormat]
    isModifyFormat  =  TRUE

[Video4K60FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   2:Only_EISv2
    ImageStableType = 2

[Video4K30FPSConfig]
    #The value of ImageStableType: 0: EIS   1:OIS   2:Only_EISv2
    ImageStableType = 2